@using global::Shared.Models
<div class="card shadow mb-2">
    <img src="@($"{ApiEndpoints.ServerBaseUrl}/{category.ThumbnailImagePath}")" class="card-img-top" alt="Category thumbnail image" />
    <div class="card-body">
        <h3 class="card-title">@category.Name</h3>
        <p class="card-text">@category.Description</p>
    </div>

    <a href="/" class="btn btn-primary stretched-link">View posts</a>
</div>

@code{
    [Parameter] public Category category { get; set; }
}